@font-face {
  font-family: "flaticon_shofy";
  font-display: swap;
  src: url("../fonts/flaticon_shofy.woff2?dee88fc45715450dd1106c3509e3ddac") format("woff2");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon_shofy !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-search:before { content: "\f105"; }
.flaticon-search-1:before { content: "\f106"; }
